:root {
    --main-color: #AD935C;
    --text-color: #21242B;
    --secondary-text-color: #83858C;
    --background-color: #EFF1F5; 
    --secondary-background-color: #CEC2A9; 
    --form-background-color: #B7B9BF;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

button {
    padding: 0;
    border: none; 
    background: none; 
}

button:hover {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}